<header>
  <a href="https://www.mohfw.gov.in/"><img src="../../assets/1.jpg" alt="logo"></a>
  <nav class="navone">
    <ul>
      <li id="lone">
        <h4>COVID-19 Dashboard</h4>
        <p>{{mydate | date:'dd MMM yyyy hh:mm a'}}</p>
      </li>
      <li id="ltwo">
        <h4>Active cases</h4>
        <p>78,003</p>
      </li>
      <li id="lthree">
        <h4>Cured & Discharged</h4>
        <p>26,235</p>
      </li>
      <li id="lfour">
        <h4>Death</h4>
        <p>2,5498</p>
      </li>
      <li id="lfive">
        <h4>Migrate</h4>
        <p>-</p>
      </li>
    </ul>
  </nav>
  <nav>
      <ul>
          <li> <a href="a" routerLink="/">Home</a> </li>
          <li><a href="a" routerLink="./Updates">Updates</a></li>
          <li><a href="a" routerLink="./Doctor">Doctor</a></li>
          <li><a href="a" routerLink="./View">View</a></li>
      </ul>
  </nav>
</header>
