<div class="updt">
  <form>
  <div class="cl">
    <a href="https://www.covid19india.org/"><img src="../../assets/Hospital/432.gif" alt="COVID UPDATES"></a>
    <a href="https://www.india.gov.in/"><img src="../../assets/Hospital/indembl-unscreen.gif" alt="COVID UPDATES"></a>
    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"><img src="../../assets/Hospital/who_logo.jpg" alt="COVID UPDATES"></a>
  </div>
  <br><br><br>
  <div class="social">
    <ul>
      <li>
        <div class="p1">
          <a href="https://api.whatsapp.com/send?phone=919013353535&text=Hi&source=&data=&app_absent="><img src="../../assets/Hospital/s3.gif" alt="COVID UPDATES"></a>
        </div>
      </li>
      <li>
        <div class="p2">
          <a href="https://www.messenger.com/login.php?next=https%3A%2F%2Fwww.messenger.com%2Ft%2FMyGovIndia"><img src="../../assets/Hospital/s4.gif" alt="COVID UPDATES"></a>
        </div>
      </li>
      <li>
        <div class="p3">
          <a href="https://www.facebook.com/MyGovIndia/"><img src="../../assets/Hospital/s1.gif" alt="COVID UPDATES"></a>
        </div>
      </li>
      <li>
        <div class="p4">
          <a href="https://telegramchannels.me/channels/coronavirusoutbreak"><img src="../../assets/Hospital/s2.gif" alt="COVID UPDATES"></a>
        </div>
      </li>
  </ul>
  </div>
  </form>
  </div>
