h1{
  padding: 0.5em;
  color: rgb(255, 193, 152);
  text-align: center;
}

.column {
  float: left;
  width: 20%;
  padding: 0.5em;
  border: 0.5em;
  padding-left: 3%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.fl
{
background-image: url('../../assets/jeev.jpg');
background: cover;
padding-top: 2em;
}

h1:hover
{
cursor: pointer;
color: aliceblue;
}




