<div class="fl">
  <div class="tit">
    <h1>COVID-19 HOME PAGE</h1>
  </div>
  <div class="row">
      <div class="column">
          <a href="https://www.bbc.com/tamil/global"><img src="../../assets/news/bbc1.jpeg" alt="BBC-TAMIL" style="width: 100%;"></a>
      </div>
      <div class="column">
        <a href="https://timesofindia.indiatimes.com/india/coronavirus-in-india-live-updates-indias-covid-19-cases-climbed-to-33050/liveblog/75461685.cms"><img src="../../assets/news/TOI.jpeg" style="width: 100%;"></a>
      </div>

      <div class="column">
          <a href="https://www.thehindu.com/topic/coronavirus/"><img src="../../assets/news/hindu.jpeg" alt="" style="width: 100%;"></a>
      </div>

      <div class="column">
        <a href="https://www.hindustantimes.com/topic/corona-virus"><img src="../../assets/news/hindustan.jpeg" alt="" style="width: 100%;"></a>
    </div>

    <div class="column">
      <a href="https://indianexpress.com/article/india/coronavirus-india-news-live-updates-covid-19-tracker-corona-cases-in-up-delhi-bihar-maharashtra-tamil-nadu-gujarat-6383785/"><img src="../../assets/news/ie.jpeg" alt="" style="width: 100%;"></a>
  </div>

  <div class="column">
    <a href="https://www.deccanherald.com/national/coronavirus-live-updates-india-records-highest-deaths-in-a-single-day-toll-stands-at-886-tally-crosses-28000-827545.html"><img src="../../assets/news/dh.jpeg" alt="" style="width: 100%;"></a>
  </div>

  <div class="column">
    <a href="https://www.dailythanthi.com/News/Districts/2020/04/30045155/In-Maharashtra-Corona-damage-approached-10-thousand.vpf
    "><img src="../../assets/news/dt.jpeg" alt="" style="width: 100%;"></a>
  </div>

  <div class="column">
    <a href="https://www.dinamani.com/latest-news/2020/apr/29/9-new-corona-cases-raise-karnataka-tally-to-532-3409634.html"><img src="../../assets/news/dm.jpeg" alt="" style="width: 100%;"></a>
  </div>

  <div class="column">
    <a href="https://www.dinamalar.com/search.asp?q=Corona&tit=%E0%AE%B0%E0%AF%82%E0%AE%AA%E0%AE%BE%E0%AE%AF%E0%AF%8D%20%E0%AE%A8%E0%AF%8B%E0%AE%9F%E0%AF%8D%E0%AE%9F%E0%AF%81%E0%AE%95%E0%AE%B3%E0%AE%BF%E0%AE%B2%E0%AF%8D%20%E0%AE%B5%E0%AF%88%E0%AE%B0%E0%AE%B8%E0%AF%8D%20%E0%AE%AA%E0%AE%B0%E0%AE%B5%E0%AF%81%E0%AE%AE%E0%AE%BE?"><img src="../../assets/news/dinamalar.jpeg" alt="" style="width: 100%;"></a>
  </div>

  <div class="column">
    <a href="http://www.puthiyathalaimurai.com/newsview/66212/first-death-for-corona-virus-in-india"><img src="../../assets/news/puthiyathalaimurai.jpeg" alt="" style="width: 100%;"></a>
  </div>

  <div class="column">
    <a href="https://tamil.oneindia.com/topic/coronavirus"><img src="../../assets/news/oneinda.jpeg" alt="" style="width: 100%;"></a>
  </div>

  <div class="column">
    <a href="https://www.thehindu.com/news/national/tamil-nadu/coronavirus-tamil-nadus-covid-19-tally-touches-2058-with-25-deaths/article31457907.ece"><img src="../../assets/news/hintam.jpeg" alt="" style="width: 100%;"></a>
  </div>
  </div>
  </div>

